<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Title Input -->
    <ion-row>
      <ion-col class="columnInputs">
        <ion-input
          placeholder="Title"
          type="text"
          class="bigText"
          id="title"
          #title
        ></ion-input>
      </ion-col>
    </ion-row>

    <!-- Description Input -->
    <ion-row>
      <ion-col class="columnInputs">
        <ion-input
          placeholder="Description"
          type="text"
          class="descriptionInput"
          id="description"
          #description
        ></ion-input>
      </ion-col>
    </ion-row>

    <!-- Button Up -->
    <ion-row>
      <ion-col class="counterButtons">
        <ion-button (click)="up(counter)" fill="solid" size="large" class="buttons">
          up
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Down Counter Input -->
    <ion-row>
      <ion-col class="columnInputs">
        <ion-input
          placeholder="00 Hours"
          type="number"
          class="bigText"
          id="counter"
          disabled
          #counter
        ></ion-input>
      </ion-col>
    </ion-row>

    <!-- Button Down -->
    <ion-row>
      <ion-col class="counterButtons">
        <ion-button (click)="down(counter)" fill="solid" size="large" class="buttons">
          down
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Buttons Nav -->
    <ion-row>
      <ion-col class="columnNavButtons">
        <!-- Button Back -->
        <ion-button
          color="dark"
          (click)="back(title, description, counter)"
          fill="solid"
          size="medium"
          class="backButton"
        >
          <- Back
        </ion-button>

        <!-- Button Next -->
        <ion-button
          type="submit"
          color="dark"
          (click)="next(title, description, counter)"
          fill="solid"
          size="medium"
          class="nextButton"
        >
          Next ->
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Footer -->
    <ion-row>
      <ion-col>
        <ion-card-subtitle class="ion-text-center" lines="none">
          You can edit these settings
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
