.tittle {
  margin-top: 15%;
  font-size: xxx-large;
}

.marginTop {
  margin-top: 15%;
}

.buttons {
  width: 50%;
}

.numberInput {
  width: 100%;
  height: 100%;
  font-size: xx-large;
}

.buttonNext {
  width: 80%;
}
